#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Search
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=coobgpohoikkiipiblmjeljniedjpjpf
Icon=chrome-coobgpohoikkiipiblmjeljniedjpjpf-Profile_1
NoDisplay=true
StartupWMClass=crx_coobgpohoikkiipiblmjeljniedjpjpf
OnlyShowIn=Old;
